.menu_icons{ background:url("menu_icons.png") top left no-repeat; }
._PS_优酷首页_r21_c14{ width:16px; height:16px; background-position:-10px -10px; }
._PS_优酷首页_r15_c14{ width:16px; height:16px; background-position:-10px -36px; }
._PS_优酷首页_r24_c8{ width:16px; height:16px; background-position:-10px -62px; }
._PS_优酷首页_r25_c2{ width:16px; height:16px; background-position:-10px -88px; }
._PS_优酷首页_r3_c3{ width:16px; height:16px; background-position:-10px -114px; }
._PS_优酷首页_r2_c6{ width:18px; height:16px; background-position:-10px -140px; }
._PS_优酷首页_r13_c7{ width:16px; height:16px; background-position:-10px -166px; }
._PS_优酷首页_r21_c6{ width:16px; height:16px; background-position:-10px -192px; }
._PS_优酷首页_r7_c14{ width:16px; height:14px; background-position:-10px -218px; }
._PS_优酷首页_r2_c14{ width:16px; height:14px; background-position:-10px -242px; }
._PS_优酷首页_r8_c7{ width:14px; height:14px; background-position:-10px -266px; }
._PS_优酷首页_r14_c3{ width:16px; height:14px; background-position:-10px -290px; }
._PS_优酷首页_r9_c3{ width:16px; height:13px; background-position:-10px -314px; }
._PS_优酷首页_r21_c3{ width:16px; height:13px; background-position:-10px -337px; }
._328379575{ width:8px; height:4px; background-position:-10px -360px; }

